@page
@model Eshop.Areas.Admin.Pages.AboutUsModel
@{
    ViewData["title"] = "متن درباره ما";
    ViewData["selected"] = "aboutUs";
}


<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> پنل ادمین</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content container-fluid bg-white" id="container">

    <div class="box box-primary">
        <form method="post">
            @Html.HiddenFor(m => m.AboutUs.Id)
            <textarea asp-for="AboutUs.Body" class="form-control" id="full_cheditor"></textarea>
            <button type="submit" class="btn btn-success mt-3 mb-2">ثبت اطلاعات</button>
        </form>
    </div>

</section>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="/admin/ckeditor4/ckeditor/ckeditor.js"></script>
    <script src="/admin/dist/js/cheditorConfig.js"></script>
}
