@page
@using Common.Application.FileUtil
@model Eshop.Pages.Categories.IndexModel
@{
    ViewData["title"] = "دسته بندی فروشگاه";
    ViewData["selected"] = "categories";

}
@section Header
{
    <partial name="Shared/Header/_Header" model="true"/>
}
<div class="top-products-area pb-3 pt-3">
    <div class="container">
      <partial name="Shared/HomePage/_Category" model="@Model.ProductGroups.ToList()"/>
    </div>
</div>
