
<html dir="rtl" lang="fa-IR">

<!-- Mirrored from mahdghanon.ir/pet-home/pet-home/Index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Nov 2024 07:31:07 GMT -->
<head>
    <title>صفحه اصلی - فروشگاه</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1">
    @await RenderSectionAsync("Meta", false)
    <link href="Css/Main.css" rel="stylesheet" />
    <link href="Css/Menu.css" rel="stylesheet" />
    <link href="Css/Style.css" rel="stylesheet" />
    <link href="Css/owl.carousel.min.css" rel="stylesheet" />
    <link href="Css/owl.theme.min.css" rel="stylesheet" />
</head>

<body class="rtl">
    <div class="main_wrap">
        <div class="of-site-mask"></div>
    
        <div class="off-canvas-wrap ">
            <div class="close-off-canvas-wrap">
                <a href="#" id="of-close-off-canvas">
                    <svg class="mt-3" width="12" height="12" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 3L18.9706 19.9706" stroke="black" stroke-width="4" stroke-linecap="round"/>
                        <path d="M19.0874 2.47266L2.11684 19.4432" stroke="black" stroke-width="4" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>

            <div class="off-canvas-inner">
                <div id="of-mobile-nav" class="mobile-menu-wrap">
                        <div class="d-block text-center my-3">
                            <a href="Index.html" class="current py-2">
                                <img src="Img/logo.svg" />
                            </a>
                        </div> 
                    <ul class="mobile-menu">
                        <li class="current-menu-item">
                            <a href="Index.html">صفحه اصلی</a>
                        </li>
                        <li class="current-menu-item">
                            <a href="shop.html">محصولات</a>
                        </li>
                        <li class="current-menu-item">
                            <a href="gallery.html">گالری</a>
                        </li>
                        <li class="current-menu-item">
                            <a href="blog.html">وبلاگ</a>
                        </li>
                        <li class="current-menu-item">
                            <a href="about-us.html">درباره ما</a>
                        </li>      
                        <li class="current-menu-item">
                            <a href="contact-us.html">تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @await RenderSectionAsync("Header", false)
        <partial name="SideBar/_SideBar"/>

        <div class="clearfix"></div>

    @RenderBody()

        <partial name="Footer/_Footer"/>
    
    </div>

    <script src="Js/jquery.min.js"></script>
    <script src="Js/bootstrap.min.js"></script>
    <script src="Js/my-script.js"></script>
    <script src="Js/owl.carousel.js"></script>
    <script src="Js/custom.js"></script>
    <partial name="_RequestResult" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>