<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>صفحه مورد نظر یاف نشد!</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/responsive.css" />

</head>

<body>
    <main class="main-404">
        <div class="d-404">
            <div class="container m-auto">
                <div class="align-items-center">
                    <div class=" col-12 col-md-6 col-lg-6 float-right">
                        <div class="d-404-image">
                            <div class="mb-36 text-center text-xl-left">
                                <img src="/assets/images/404/404.gif" alt="404" class="img-fluid p-20" width="300">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 float-left">
                        <div class="d-404-title">
                            <span>چنین صفحه ای نداریم</span>
                            <h1>ولی شما اخم نکن!</h1>
                            <div class="Back-Main-Page">برگرد به سایت یا جستجو رو امتحان کن</div>
                        </div>
                        <div class="col-lg-9 mx-auto mt-3">
                            <div class="search text-right">
                                <div class="search-box search-box-404">
                                    <form action="/products">
                                        <input type="search" class="input-search" id="search-field" name="q" placeholder="کالا و یا دسته بندی مورد نظر خود را جستجو کنید">
                                        <div class="input-group-append">
                                            <button class="btn btn-search" type="submit">
                                                <img src="/assets/images/search.png" alt="search" width="27">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="d-404-actions mt-4">
                            <a href="/" class="btn btn-dark rounded">بازگشت به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>