@model DomainLayer.Models.Users.UserNotification
<div class="modal-header">
    <h5 class="modal-title">@Model.NotificationTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @Html.Raw(Model.NotificationBody)
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
</div>