@page "{faqId}/{detailId}"
@model Eshop.Areas.Admin.Pages.Faq.Details.EditModel
@{
    ViewData["title"] = "افزودن سوال";
    ViewData["selected"] = "faq";
}
@section meta
{
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
}

<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> پنل ادمین</a></li>
        <li><a href="/admin/Faq"><i class="fa fa-dashboard"></i>سوالات متداول</a></li>
        <li><a href="/admin/Faq/details/@Model.FaqDetail.FaqId"><i class="fa fa-dashboard"></i>سوالات</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content container-fluid bg-white" id="container">

    <div class="box box-danger">
        <form method="post">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-input">
                        <label>آیکن : </label>
                        <div class="input-group">
                            <input type="hidden" asp-for="FaqDetail.Icon" />
                            <input type="text"
                                   style="border-radius: 0 7px 7px 0px !important;"
                                   placeholder="@Model.FaqDetail.Icon" disabled id="input-icon-value" class="form-control">
                            <span class="input-group-addon select-icon" id="basic-addon1">
                                <i style="font-size: 22px" class="@Model.FaqDetail.Icon"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 form-input">
                        <label>عنوان :</label>
                        <input type="text" asp-for="FaqDetail.Title" placeholder="عنوان" class="form-control" />
                    </div>
                    <div class="col-md-12 form-input">
                        <label>متن :</label>
                        <textarea id="description" asp-for="FaqDetail.Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success p-10 pull-left">ثبت اطلاعات</button>
            </div>
        </form>

    </div>

</section>

@section Scripts
{
    <script src="/assets/ckeditor5/build/ckeditor.js"></script>
    <script src="/dashboard/dist/js/cheditorConfig.js"></script>
    <script src="/dashboard/dist/js/loadIcons.js"></script>

}
