@page
@model Eshop.Pages.Profile.ChangePasswordModel
@{
    ViewData["title"] = "تغییر کلمه عبور";
    ViewData["Selected"] = "ChangePassword";
}
@section Header
{
    <partial name="Shared/SideBar/_SideBar" model="true" />
}
<div class="profile-wrapper-area py-3">
    <div class="row">
        <partial name="Shared/Profile/_Menu" />
        <div class="col-12 col-md-8 col-lg-8">
            <div class="card br-0 m-2">
                <div class="card-body">
                    
                    <form class="row" method="post" >
                        <div class="col-12 mb-3">
                            <i class="lni lni-lock-alt"></i> <label asp-for="PasswordDto.CurrentPassword"></label><label> : </label>
                            <input type="password" autocomplete="off" class="form-control" placeholder="کلمه عبور حساب کاربری خود را وارد کنید" asp-for="PasswordDto.CurrentPassword" />
                            <span class="text-danger" asp-validation-for="PasswordDto.CurrentPassword"></span>
                        </div>
                        <div class="col-12 col-md-6 mb-3 col-sm-6">
                            <i class="lni lni-lock-alt"></i> <label asp-for="PasswordDto.NewPassword"></label><label> : </label>
                            <input type="password" autocomplete="off" class="form-control" placeholder="کلمه عبور جدید را وارد کنید" asp-for="PasswordDto.NewPassword" />
                            <span class="text-danger" asp-validation-for="PasswordDto.NewPassword"></span>
                        </div>
                        <div class="col-12 col-md-6 mb-3 col-sm-6">
                            <i class="lni lni-lock-alt"></i> <label asp-for="PasswordDto.ConfirmPassword"></label><label> : </label>
                            <input type="password" class="form-control" asp-for="PasswordDto.ConfirmPassword" placeholder="تکرار کلمه عبور"/>
                            <span class="text-danger" asp-validation-for="PasswordDto.ConfirmPassword"></span>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-success form-footer">ثبت اطلاعات</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}